body {
    font-family: "IBM Plex Sans" !important;
    background-image: url("../img/grunge-wall.png");
}

nav {
    font-size: 1.20em !important;
}

.navbar-brand {
    font-size: 1.35em;
}

.bg-company-gold {
    background-color: #9b8542;
}

nav .nav-link{
    color: white !important;
}

table {
    font-size: 1.25em;
    margin-bottom: 50px;
}

table td, th {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


#hoursTable td {
    padding-right: 25px;
}